@charset "UTF-8";
body {
  font-family: "微軟正黑體","Montserrat", "Noto Sans TC", sans-serif;
}

.nav-item {
  cursor: pointer;
}

.sidebar .nav-link:hover {
  color: #fff;
  background: #5fbfce;
}

.backTable {
  display: none;
}
