* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

.content {
  width: 100%;
  padding: 60px 0 0 250px;
}

.content .mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(102, 102, 102, 0.3);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 99;
  display: none;
}

.content.active {
  left: 0%;
}

.content.active .mask {
  opacity: 1;
  visibility: visible;
}

.content.active .slide_bar {
  left: 0%;
}

@media screen and (max-width: 767px) {
  .content {
    padding: 60px 0 0 0;
  }
  .content .mask {
    display: block;
  }
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: calc(250px + 20px);
  padding-right: 20px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar h2 {
  color: #666666;
  letter-spacing: 4.8px;
  font-size: 24px;
  line-height: 30px;
  white-space: nowrap;
}

.navbar > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .more {
  width: 40px;
  height: 60px;
  line-height: 65px;
  display: none;
  cursor: pointer;
  position: relative;
}

.navbar .more img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.navbar .more img:nth-of-type(2) {
  opacity: 0;
}

.navbar .more:hover img:nth-of-type(2) {
  opacity: 1;
}

.navbar .more:hover img:nth-of-type(1) {
  opacity: 0;
}

.navbar .nav_list {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  letter-spacing: 3.2px;
  font-size: 16px;
  line-height: 20px;
}

.navbar .nav_list li {
  margin: 0 20px;
  position: relative;
}

.navbar .nav_list li:hover > a {
  color: #67d2de;
}

.navbar .nav_list li:hover > a img:nth-of-type(2) {
  opacity: 1;
}

.navbar .nav_list li:hover > a img:nth-of-type(1) {
  opacity: 0;
}

.navbar .nav_list li a {
  text-decoration: none;
  color: #666666;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.navbar .nav_list li a img:nth-of-type(2) {
  opacity: 0;
}

.navbar .nav_list img {
  vertical-align: middle;
  position: absolute;
  left: -25px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.navbar .nav_list p {
  display: inline-block;
}

.navbar .status {
  letter-spacing: 3.2px;
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  display: inline-block;
  padding-left: 5px;
  border-left: 1px solid #666666;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  white-space: nowrap;
}

.navbar .status:hover {
  color: #67d2de;
}

@media screen and (max-width: 1023px) {
  .navbar .nav_list li {
    margin: 0 10px;
  }
  .navbar .nav_list a {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .navbar .nav_list a img {
    left: auto;
  }
  .navbar .nav_list p {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 0 10px;
  }
  .navbar h2 {
    color: #666666;
    letter-spacing: 3.6px;
    font-size: 18px;
    line-height: 30px;
  }
  .navbar .more {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .navbar .nav_list li {
    margin: 0 5px;
  }
}

.slide_bar {
  width: 250px;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#67d2de), to(#ffffff));
  background-image: linear-gradient(to bottom, #67d2de, #ffffff);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.slide_bar .logo {
  height: 60px;
  padding: 12.5px 0 0 20px;
}

.slide_bar .logo a {
  display: inline-block;
}

.slide_bar .logo img {
  width: 150px;
}

@media screen and (max-width: 767px) {
  .slide_bar {
    left: -100%;
  }
}

/* mall page css */
.mall_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f1f1f1;
}

.mall_content .mall_box {
  width: 18%;
  background-color: #fff;
  padding: 1%;
  margin: 2% 1%;
  border-radius: 5%;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.mall_content .mall_box img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  width: 100%;
}

.mall_content .mall_box p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.mall_content .mall_box .product_price {
  margin-top: 10px;
}

.mall_content .mall_box .product_price .price_sale {
  color: #cc0000;
  letter-spacing: 4.8px;
  font-size: 24px;
  line-height: 30px;
}

.mall_content .mall_box .product_price span:nth-child(1) {
  color: #666666;
  text-decoration: line-through;
}

.mall_content .mall_box .product_price span:nth-child(2) {
  color: #990000;
}

.mall_content .mall_box:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #83bac0;
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/add_cart.png);
}

.mall_content .mall_box:hover img {
  visibility: hidden;
}

.mall_content .mall_box:hover p, .mall_content .mall_box:hover .product_price {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media screen and (max-width: 767px) {
  .mall_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .mall_content .mall_box {
    width: 48%;
  }
}

#program_main {
  font-size: 0;
  background-image: url(../img/program_img/office.jpg);
}

#program_main .invite_list {
  border: 1px solid red;
}

#program_main .invite_list .program_member {
  display: inline-block;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px;
  vertical-align: middle;
}

#program_main .invite_list .program_member img {
  width: 100%;
}

#program_main .invite_list .program_member_more {
  letter-spacing: 2.8px;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid red;
  border-radius: 50%;
  text-align: center;
  padding-top: 9px;
  vertical-align: middle;
}

#program_main .invite_list .invite_btn {
  padding: 5px 15px;
  margin: 5px;
}

<<<<<<< HEAD
#program_main .invite_list form {
  display: inline-block;
}

#program_main .cards_column {
  border: 1px solid blue;
  height: 800px;
  width: 500px;
}

=======
#program_main .invisit_list form {
  display: inline-block;
}

>>>>>>> practice
.card_light_box {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 768px;
  border: 1px solid red;
  border-radius: 10px;
<<<<<<< HEAD
=======
  -webkit-box-shadow: 3px 3px 6px #777777;
          box-shadow: 3px 3px 6px #777777;
  display: none;
>>>>>>> practice
}
/*# sourceMappingURL=main.css.map */