* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#threeJs {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", "Noto Sans TC", sans-serif;
}
.nav_hamburger {
  display: none;
  @include media(1023px) {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99;
    &.active {
      .navBtn {
        @include buttonActive(true);
      }
    }
    .navBtn {
      @include button(60px, true);
    }
  }
}
.nav_bar {
  width: $slideBar;
  height: 100vh;
  position: relative;
  .logo {
    width: 100%;
    height: 130px;
    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 40px;
      img {
        width: 150px;
      }
    }
  }
  .nav_slide {
    margin-bottom: 50px;
  }
  .nav_list {
    width: 100%;
    list-style: none;
    .nav_btn {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      border: 1px solid $primary;
      img {
        @include positionCenter;
        width: 20px;
      }
      &::before {
        content: "";
        @include positionCenter;
        width: 100%;
        height: 100%;
        border: 1px solid $white;
        opacity: 0;
        border-radius: 50%;
        transition: all 0.3s;
      }
    }
    > li {
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 40px;
      cursor: pointer;
      margin-bottom: 20px;
      p {
        @include font(1);
        color: $white;
        font-weight: 500;
        margin-left: 15px;
        transition: color 0.3s;
      }
      &:hover {
        .nav_btn {
          &::before {
            width: 150%;
            height: 150%;
            opacity: 1;
          }
        }
        p {
          color: $primary;
        }
      }
    }
  }
  .nav_setting {
    width: 100%;
    padding-left: 40px;
    color: $white;
    > .clock {
      .title {
        display: flex;
        align-items: center;
        @include font(6);
        margin-bottom: 15px;
        p {
          margin-left: 10px;
        }
      }
      .set_timer {
        width: 100%;
        margin-bottom: 10px;
        > div {
          display: flex;
        }
        input {
          @include inputReset;
          border-bottom: 1px solid $white;
          color: $white;
        }
      }
      .setting_list {
        list-style: none;
        height: 140px;
        overflow-y: auto;
        li {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          padding-left: 5px;
          cursor: pointer;
          p {
            margin-left: 15px;
            transition: color 0.3s;
          }
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
  .user_status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
    .user_shot {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: $white;
    }
  }
  @include media(1023px) {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    opacity: 0;
    visibility: hidden;
    &.active {
      opacity: 1;
      visibility: visible;
      .nav_list {
        > li {
          opacity: 1;
        }
      }
    }
    .nav_slide {
      width: 80px;
      height: 100%;
      background-color: $dark;
    }
    .logo {
      display: none;
    }
    .nav_list {
      width: 100%;
      margin-top: 160px;
      > li {
        padding-left: 0;
        padding-right: 20px;
        justify-content: flex-end;
        margin-bottom: 10px;
        opacity: 0;
        transition: opacity 0.3s;
        @for $i from 0 through 4 {
          &:nth-of-type(#{$i}) {
            transition-delay: 0.15s * $i;
          }
        }
        p {
          display: none;
        }
        &:hover {
          .nav_btn {
            &::before {
              width: 130%;
              height: 130%;
            }
          }
        }
      }
    }
    .nav_setting {
      width: calc(100% - 80px);
      height: 100vh;
    }
  }
  @include media(479px) {
    .nav_list {
      margin-top: 125px;
      > li {
        padding-right: 10px;
      }
    }
    .nav_slide {
      width: 60px;
    }
    .nav_setting {
      width: calc(100% - 60px);
    }
  }
}
main {
  width: calc(100% - #{$slideBar} - 40px);
  height: 95%;
  .content {
    width: 100%;
    height: 100%;
    background-color: rgba($white, 0.2);
    border-radius: 20px;
    padding: 30px;
    margin-left: 20px;
  }
  @include media(1023px) {
    width: 87.5%;
  }
}
