<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" href="./css/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar">
      <div>
        <div class="more" id="more">
          <img src="./img/icon/more-options.svg" alt="more" width="20" />
          <img src="./img/icon/more-options_on.svg" alt="more" width="20" />
        </div>
        <h2>專案管理</h2>
      </div>
      <div>
        <ul class="nav_list">
          <li>
            <a href="#">
              <img src="./img/icon/time-left.svg" alt="clock" width="20" />
              <img src="./img/icon/time-left_on.svg" alt="clock" width="20" />
              <p>番茄鐘</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./img/icon/shopping-bag.svg" alt="shop" width="20" />
              <img src="./img/icon/shopping-bag_on.svg" alt="shop" width="20" />
              <p>商城</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./img/icon/user.svg" alt="member" width="20" />
              <img src="./img/icon/user_on.svg" alt="member" width="20" />
              <p>會員中心</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./img/icon/shopping-cart.svg" alt="cart" width="20" />
              <img src="./img/icon/shopping-cart_on.svg" alt="cart" width="20" />
            </a>
          </li>
        </ul>
        <div class="status">登出</div>
      </div>
    </nav>
  </header>
  <main class="content" id="content">
    <aside class="slide_bar">
      <div class="logo">
        <a href="./index.html">
          <img src="./img/logo_in.svg" alt="logo" />
        </a>
      </div>
      <div class="slider_header"></div>

      <!-- 專案側邊攔 -->
      <div id="program_aside">
        <div class="program_now_having_all" :class='{program_now_having_all_active:program_text_btn}'>
          <div class="program_add_btn_box">
            <button class="program_add_btn" id="program_add_btn" @click.stop='open = !open'>
              <div class="program_add_img"><img src="./img/icon/plus_w.83529fa0.svg" alt=""><img
                  src="./img/icon/plus_on.d2fc8c08.svg" alt=""></div>
              <span>新增專案</span>
            </button>
          </div>

          <div class="new_program_choose_box" id="new_program_choose_box" :class='{new_program_choose_box_active: open}'
            @click.stop="">
            <label>
              <p>專案名稱<span>Project</span></p>
              <input type="text" class="" v-model.trim="program_name">
            </label>
            <div>
              <p>專案專屬色<span>Color</span></p>
              <div class="new_program_choose_color">
                <span class="new_program_choose_color_item" v-for='color in colors' @click.stop='selectColor = color'
                  :class='{new_program_choose_color_item_checked: selectColor === color}'
                  :style='{backgroundColor: color}'></span>
                <div>
                  <button @click="add_program(program_name)" id="add_program_inner_btn">建立專案</button>
                </div>
              </div>
            </div>
          </div>

          <ul class="slide_list">
            <li>
              <p>專案01</p>
              <img src="./img/icon/arrow-point-to-right.svg" alt="arrow" />
              <img src="./img/icon/arrow-point-to-right_on.svg" alt="arrow" />
            </li>
            <li>
              <p>專案02</p>
              <img src="./img/icon/arrow-point-to-right.svg" alt="arrow" />
              <img src="./img/icon/arrow-point-to-right_on.svg" alt="arrow" />
            </li>

            <li v-for="item in programs">
              <p>{{item}}</p>
              <img src="./img/icon/arrow-point-to-right.svg" alt="arrow" />
              <img src="./img/icon/arrow-point-to-right_on.svg" alt="arrow" />
            </li>
          </ul>

        </div>


        <div class="program_watch_history_all" :class='{program_watch_history_all_active: program_text_btn}'>
          <div class="program_watch_history_text program_text_btn"
            @click.stop='program_text_btn = !program_text_btn,change_watched_text()'
            :class='{program_watch_history_text_active: program_text_btn}'>
            <p>{{now_text}}</p>
            <!-- <p>查看已完成專案</p> -->
            <!-- <p>已完成專案</p> -->

          </div>
          <div class="program_watch_history_list">
            <ul class="slide_list">
              <li>
                <p>已完成專案01</p>
                <img src="./img/icon/arrow-point-to-right.svg" alt="arrow" />
                <img src="./img/icon/arrow-point-to-right_on.svg" alt="arrow" />
              </li>
            </ul>
          </div>
          <div class="program_now_having_text program_text_btn"
            @click.stop='program_text_btn = !program_text_btn,change_watched_text()'
            :class='{program_now_having_text_active: program_text_btn}'>
            <p>查看現有專案</p>
          </div>
        </div>

      </div>

    </aside>


    <div class="mask" id="mask" :class="{masked: opened}" @click="opened = false"></div>
    </div>
    <div id="program_main">
      <!-- 內容  -->
      <div class="invite_list">
        <div class="program_member"><img src="./img/program_img/program_member_1.png" alt=""></div>
        <div class="program_member"><img src="./img/program_img/program_member_2.png" alt=""></div>
        <div class="program_member"><img src="./img/program_img/program_member_3.png" alt=""></div>

        <div class="program_member_more">+4</div>
        <button class="invite_btn" @click.stop='invite_btn = !invite_btn'>邀請</button>
        <div class="invite_add_member_box" :class='{invite_add_member_box_active: invite_btn}' @click.stop="">
          <p>輸入會員帳號</p>
          <form action="">
            <input type="email" class="invite_add_member_addr">
          </form>
        </div>
      </div>

      <div class="set-cal-chat_all_bar">
        <div class="setting_all set-cal-chat_same_all">
          <button class="setting_btn set-cal-chat_same_button" @click.stop='setting_btn = !setting_btn'><img
              src="./img/icon/setting_white.svg" alt=""><img src="./img/icon/setting_primary.svg" alt="">
          </button>
          <div class="setting_content_box" :class='{setting_content_box_active: setting_btn}' @click.stop="">
            <p>專案專屬色<span>Color</span></p>
            <div class="program_setting_choose_color">
              <span class="program_setting_choose_color_item" v-for='color in colors'
                @click.stop='program_setting_choose_selectColor = color'
                :class='{program_setting_choose_color_item_checked: program_setting_choose_selectColor === color}'
                :style='{backgroundColor: color}'></span>

            </div>
            <hr>
            <div class="setting_program_status">完成專案</div>
            <hr>
            <div class="setting_program_status setting_program_status_delete">刪除專案</div>
          </div>
        </div>

        <div class="program_calendar_all set-cal-chat_same_all">
          <button class="calendar_btn set-cal-chat_same_button" @click.stop='calendar_btn = !calendar_btn'><img
              src="./img/icon/calendar_white.svg" alt=""><img src="./img/icon/calendar_primary.svg" alt="">
          </button>
          <div class="program_calendar_box program_right_column_item"
            :class='{program_calendar_box_active: calendar_btn}'>
            <div class="program_calendar_box_close_box" @click='calendar_btn = !calendar_btn'><span
                class="program_calendar_box_close"></span></div>
            <div class="calendar">
              <div class="calendar_header">
                <button id="prev">
                  <i class="material-icons">
                    keyboard_arrow_left
                  </i>
                </button>
                <p id='month'>May 2019</p>
                <button id="next">
                  <i class="material-icons">
                    keyboard_arrow_right
                  </i>
                </button>
              </div>
              <table class="calendar_body">
                <tr>
                  <td>Su</td>
                  <td>Mo</td>
                  <td>Tu</td>
                  <td>We</td>
                  <td>Th</td>
                  <td>Fr</td>
                  <td>Sa</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="program_chatroom_all set-cal-chat_same_all">
          <button class="chatroom_btn set-cal-chat_same_button" @click.stop='chatroom_btn = !chatroom_btn'><img
              src="./img/program_img/chat_white.svg" alt=""><img src="./img/program_img/chat_primary.svg" alt="">
          </button>
          <div class="program_chatroom_box program_right_column_item"
            :class='{program_chatroom_box_active: chatroom_btn}'>
            <div class="program_chatroom_box_close_box" @click='chatroom_btn = !chatroom_btn'><span
                class="program_chatroom_box_close"></span></div>
            <div class="program_chatroom_window">
              <div class="program_chatroom_oneperson">
                <p class="program_chatroom_otherside_name"><img src="./img/program_img/program_member_1.png" alt=""> 澤田:
                </p>
                <div class="program_chatroom_otherside_dialog">大夥們，加油啦!</div>
              </div>
            </div>

            <div class="program_chatroom_operating_area">
              <div class="program_chatroom_iconbar">
                <div class="program_chatroom_icon"><img src="./img/program_img/smile_gray.svg" alt=""></div>
                <div class="program_chatroom_icon"><img src="./img/icon/paperclip.cf9c8806.svg" alt=""></div>
              </div>
              <textarea></textarea>
            </div>
          </div>
        </div>

      </div>

      <div class="cards_column_all" id="cards_column_all">
        <div class="cards_column todo_column">
          <div class="cards_column_head">待辦事項</div>

          <div class="cards_column_body cards_column_body_todo">

            <div class="cards_list cards_list_todo">
              <div class="cards_list_card">
                <div class="cards_list_card_color"></div>
                <p>事情A</p>
                <div class="cards_list_card_icon_bar">
                  <div class="cards_list_card_icon cards_list_card_calendaricon"><img
                      src="./img/icon/calendar.e1ea5ef5.svg" alt=""></div>
                  <span>2020-02-26 12:02</span>
                  <div class="cards_list_card_icon_right">
                    <div class="cards_list_card_icon cards_list_card_todoicon"><img src="./img/checked_d.721738d0.svg"
                        alt="">
                    </div>
                    <span>0/6</span>
                  </div>
                </div>
              </div>

              <div class="cards_list_card" v-for="item in cards">
                <div class="cards_list_card_color"></div>
                <p>{{item}}</p>
                <div class="cards_list_card_icon_bar">
                  <div class="cards_list_card_icon cards_list_card_calendaricon"><img
                      src="./img/icon/calendar.e1ea5ef5.svg" alt=""></div>
                  <span>未設定</span>
                  <div class="cards_list_card_icon_right">
                    <div class="cards_list_card_icon_right">
                      <div class="cards_list_card_icon cards_list_card_todoicon"><img src="./img/checked_d.721738d0.svg"
                          alt="">
                      </div>
                      <span>0/0</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cards_list_card cards_list_card_input_box" id="cards_list_card_input_box"
                v-show="cards_list_card_input_box" @click.stop="">
                <textarea v-model.trim="card_name" @keyup.enter="add_card(card_name)"></textarea>
                <div class="cards_list_card_input_box_button_bar"><button @click="add_card(card_name)">建立卡片</button>
                </div>
              </div>
            </div>

            <button class="add_cards_btn" @click.stop="show_cards_list_card_input_box"><img
                src="./img/icon/plus_w.83529fa0.svg" alt=""><img src="./img/icon/plus_on.d2fc8c08.svg" alt=""></button>
          </div>
        </div>

        <div class="cards_column doing_column">
          <div class="cards_column_head">進行中</div>
          <div class="cards_column_body cards_column_body_doing">
            <div class="cards_list cards_list_doing">

              <div class="cards_list_card" @click="opened = !opened">
                <div class="cards_list_card_color"></div>
                <p>團專衝刺</p>
                <div class="cards_list_card_icon_bar">
                  <div class="cards_list_card_icon cards_list_card_calendaricon"><img
                      src="./img/icon/calendar.e1ea5ef5.svg" alt=""></div>
                  <span>2020-03-02 15:00</span>
                  <div class="cards_list_card_icon_right">
                    <div class="cards_list_card_icon cards_list_card_todoicon"><img src="./img/checked_d.721738d0.svg"
                        alt="">
                    </div>
                    <span>0/7</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="cards_column done_column">
          <div class="cards_column_head">已完成</div>
          <div class="cards_column_body cards_column_body_done">
            <div class="cards_list cards_list_done">

              <div class="cards_list_card">
                <div class="cards_list_card_color"></div>
                <p>事情C</p>
                <div class="cards_list_card_icon_bar">
                  <div class="cards_list_card_icon cards_list_card_calendaricon"><img
                      src="./img/icon/calendar.e1ea5ef5.svg" alt=""></div>
                  <span>2020-02-16 7:00</span>
                  <div class="cards_list_card_icon_right">
                    <div class="cards_list_card_icon cards_list_card_todoicon"><img src="./img/checked_d.721738d0.svg"
                        alt="">
                    </div>
                    <span>3/3</span>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>

      <!-- 卡片燈箱 -->
      <div class="card_light_box" id="card_light_box" :class="{opneLight: opened}">
        <div class="card_header_title">
          <h1 id="card_title">團專衝刺</h1>
          <div @click="opened = false"><img src="./img/card_img/cancel_w.svg" alt=""></div>
        </div>

        <div class="lightbox_content">
          <div class="left_aside">
            <div class="first_right">
              <h3>新增至卡片</h3>
              <hr />
              <div class="first_right_member" @click.stop="card_meber_switch =! card_meber_switch">
                <img src="./img/card_img/multiple-users-silhouette.cde8086c.svg" alt="" style="width: 20px;" />
                成員
              </div>
              <div class="wave" @click.stop="calandar_switch =! calandar_switch">
                <img src="./img/card_img/hanging-calendar.svg" alt="" style="width: 20px;" />
                到期日
              </div>
              <div @click.stop="todo_lightbox_switch =! todo_lightbox_switch" class="todogo">
                <img src="./img/content.22f4a956.svg" alt="" style="width: 20px;" />
                待辦清單
              </div>

              <div @click.stop="file_switch =! file_switch">
                <img src="./img/card_img/paperclip.cf9c8806.svg" alt="" style="width: 20px;" />
                上傳附件
              </div>

              <!-- 新增待辦清單跳窗 -->
              <div class="todo_lightbox" :class='{opentodo_lightbox: todo_lightbox_switch}' @click.stop="">
                <label>
                  <p>待辦清單標題</p>
                  <!-- 讓燈箱的字和標題同步 -->
                  <input type="text" class="todo_lightbox_input" v-model.trim="todo_lightbox_input_title"
                    @keyup.13="todo_list_add()">
                </label>
                <div class="todo_lightbox_botton" @click="todo_list_add()">
                  <button>新增</button>
                </div>
              </div>

              <!-- 新增日曆跳窗 -->
              <div class="calendar_lightbox" :class="{open_calendar_lightbox : calandar_switch}" @click.stop="">
                <h3>更改到期日</h3>
                <p class="day_date">日期</p>
                <div class="calendar_lightbox_content">
                  <!-- 手刻日立 -->
                  <div class="calender">
                    <div class="calender_header">
                      <button id="prevv">
                        <i class="material-icons">
                          keyboard_arrow_left
                        </i>
                      </button>
                      <p id='card_month'>May 2019</p>
                      <button id="nextt">
                        <i class="material-icons">
                          keyboard_arrow_right
                        </i>
                      </button>
                    </div>
                    <table class="calender_body">
                      <tr>
                        <td>Su</td>
                        <td>Mo</td>
                        <td>Tu</td>
                        <td>We</td>
                        <td>td</td>
                        <td>Fr</td>
                        <td>Sa</td>
                      </tr>
                    </table>
                  </div>

                </div>
              </div>

              <!-- 上船附件跳窗 -->
              <div class="file_lightbox" :class="{openfile : file_switch}" @click.stop="" @change="fileSelected">
                <h3>上傳檔案</h3>
                <form method="post" enctype="multipart/form-data">
                  <label class="upfile_content">
                    <p>上傳附件 <span><img src="./img/card_img/plus_write.svg" alt="" width="13"></span></p>
                    <input type="file" multiple id="upFile">
                  </label>
                </form>
              </div>


              <!-- 新增成員跳窗 -->
              <div class="card_member_lightbox" :class="{open_card_mem : card_meber_switch}" @click.stop="">
                <h3>成員</h3>
                <br>
                <label for="">
                  <input type="text" placeholder="搜尋成員">
                </label>
                <h4>看版成員</h4>
                <ul>
                  <li>
                    <div class="card_member_message">
                      <div><img src="./img/program_img/program_member_1.png" alt=""></div>
                      <span class="card_member_name">王曉明<span> user3456</span></span>
                      <div><img src="./img/icon/checked_gray.svg" alt=""></div>
                    </div>
                  </li>
                  <li>
                    <div class="card_member_message">
                      <div><img src="./img/program_img/program_member_2.png" alt=""></div>
                      <span class="card_member_name">楊小梅<span>user4756</span></span class="card_member_name">
                      <div><img src="./img/icon/checked_gray.svg" alt=""></div>
                    </div>
                  </li>
                  <li>
                    <div class="card_member_message">
                      <div><img src="./img/program_img/program_member_3.png" alt=""></div>
                      <span class="card_member_name">張大千<span>user1234</span></span>
                      <div><img src="./img/icon/checked_gray.svg" alt=""></div>
                    </div>
                  </li>
                  <li>
                    <div class="card_member_message">
                      <div><img src="./img/card_img/878378-XXL.jpg" alt=""></div>
                      <span class="card_member_name">吃大餅<span>user3456</span></span class="card_member_name">
                      <div><img src="./img/icon/checked_gray.svg" alt=""></div>
                    </div>
                  </li>
                </ul>
              </div>

            </div>
            <div class="second_right">
              <h3>卡片動作</h3>
              <hr />
              <div class="second_right_deletecard">
                <img src="./img/card_img/delete.0df56913.svg" alt="" style="width: 20px;" />
                刪除卡片
              </div>
            </div>
          </div>
          <div class="right_aside">
            <div class="memberRight">
              <div class="card_memver_head">
                <div class="card_member_title">
                  <div>
                    <img src="./img/card_img/multiple-users-silhouette.cde8086c.svg" alt="" style="width: 20px;" />
                  </div>
                  <h3>成員</h3>
                </div>
                <div class="memimg">
                  <div class="card_member"><img src="./img/program_img/program_member_1.png" alt=""></div>
                  <div class="card_member"><img src="./img/program_img/program_member_2.png" alt=""></div>
                  <div class="card_member"><img src="./img/program_img/program_member_3.png" alt=""></div>
                </div>
              </div>
              <div class="calendar">
                <div class="calendar_title">
                  <div><img src="./img/card_img/hanging-calendar.svg" alt="" style="width: 20px;" /></div>
                  <h3>到期日</h3>
                </div>
                <div class="calendar_status">
                  <div class="calendar_img">
                    <img src="./img/card_img/unchecked_d.9558e11b.svg" alt="" v-show="isactive" @click="changeimg">
                    <img src="./img/card_img/checked_d.721738d0.svg" alt="" v-show="onactive" @click="onchangeimg">
                  </div>
                  <p>2019/12/31</p>
                  <img src="./img/card_img/down-arrow.4172a7ec.svg" alt="" style="width: 15px;height: 15px;">
                  <span :class="classObject">{{text}}</span>
                </div>
              </div>

              <!-- 新增出來的待辦清單 -->
              <div class="card_todo_content" v-for="(item,detailIndex) in todo_list_content_detail" :key="detailIndex">
                <div class="todo_title">
                  <div class="cardtitle_img"><img src="./img/card_img/content.22f4a956.svg" alt="" width="20"></div>
                  <h3>{{item.title}}</h3>
                  <div class="all_card_todo_delete" @click="deletecard_todo(detailIndex)"><img
                      src="./img/card_img/delete.0df56913.svg" alt="" width="20"></div>
                </div>
                <div class="todo_progress_bar">
                  <p>0%</p>
                  <div class="progress_bar">
                    <span></span>
                  </div>
                </div>
                <!-- 新增的卡片細項 -->
                <div>
                  <div class="card_check_item" v-for="(item,index) in item.lists" :key="index">
                    <div @click="item.status = !item.status,item.text =!item.text">
                      <img src="./img/card_img/unchecked_d.9558e11b.svg" alt="" v-if="item.status">
                      <img src="./img/card_img/checked_d.721738d0.svg" alt="" v-else>
                    </div>
                    <p :class="{lineThrough:item.text}">{{item.content}}</p>
                    <div><img src="./img/icon/time-left.svg" alt=""></div>
                    <div><img src="./img/card_img/delete.0df56913.svg" alt="" @click="delete_todo_title()"></div>
                  </div>
                </div>

                <div class="card_add_button">

                  <label for="">
                    <input placeholder="增加項目" type="text" class="card_detail_lightbox_input" v-model.trim="item.test"
                      @keyup.enter="add_card_detail(detailIndex)">
                    <img src="./img/card_img/plus_write.svg" alt="" width="14">
                  </label>

                </div>

              </div>




              <!-- 上傳附件 -->
              <div class="card_file">
                <div class="card_file_title">
                  <div class="file_title_img"><img src="./img/card_img/paperclip.cf9c8806.svg" alt="" width="20"></div>
                  <h3>附件</h3>
                </div>
                <ul>
                  <li v-for="(item,index) in filebox">
                    <a :href="item.source" :download="item.name">{{item.name}}</a>
                    <div><img src="./img/card_img/delete.0df56913.svg" alt="" width="20" @click="del_file(index)"></div>
                  </li>
                </ul>
                <div class="card_upload_file">
                  <!-- <div>上傳的內容</div> -->
                  <form method="post" enctype="multipart/form-data" @change="fileSelected">
                    <label class="upfile_content">
                      <p>上傳附件 <span><img src="./img/card_img/plus_write.svg" alt="" width="13"></span></p>
                      <input type="file" multiple>
                    </label>
                  </form>
                </div>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
  <footer></footer>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
  <script src="./js/program.js"></script>
  <!-- <script src="./js/card.js"></script> -->
  <script>
    const moreBtn = document.getElementById("more");
    const content = document.getElementById("content");
    const mask = document.getElementById("mask");
    moreBtn.addEventListener("click", () => content.classList.add("active"));
    mask.addEventListener("click", () => content.classList.remove("active"));
  </script>
</body>


</html>