<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./node_modules/vue2-datepicker/index.css">
  <link rel="stylesheet" href="../css/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Noto+Sans+TC:400,500&display=swap"
    rel="stylesheet" />
  <title>Document</title>
</head>

<body>
  <div id="app">
    <div id="threeJs"></div>
    <header>
      <div class="header">
        <div class="logo">
          <a href="">
            <img src="../img/logo.svg" alt="logo" />
          </a>
        </div>
        <div class="nav_hamburger">
          <div class="navBtn">
            <div class="navBtn_btn">
              <p>MENU</p>
              <div>
                <span />
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav_bar">
        <div class="logo">
          <a href="">
            <img src="../img/logo.svg" alt="logo" />
          </a>
        </div>
        <ul class="nav_list">
          <li class="active">
            <div>
              <img src="../img/staff-poket.svg" alt="pm" />
            </div>
            <p>專案管理<br /><span>Project management</span></p>
          </li class="active">
          <li>
            <div>
              <img src="../img/time-left.d4d509fa.svg" alt="clock" />
            </div>
            <p>番茄鐘<br /><span>Clock</span></p>
          </li>
          <li>
            <div>
              <img src="../img/shopping-bag.c63fa553.svg" alt="shop" />
            </div>
            <p>商城<br /><span>Shop</span></p>
          </li>
        </ul>
        <div class="user_status">
          <div class="user_shot">
            <div>
              <img src="../img/user.9c173fc0.svg" alt="member" />
            </div>
            <p>USER_Master Pocket</p>
          </div>
          <div class="status">
            <div>會員中心</div>
            <div>登出</div>
          </div>
        </div>

        <div class="page_info" id="program_aside">
          <div class="title">
            <p>新建專案</p>
          </div>
          <div class="setting_project">
            <div>
              <p class="setting_project_title1">專案名稱 Project</p>
              <input type="text" v-model.trim="program_name" />
              <p class="setting_project_title2">專案專屬色 Color</p>
              <div class="colors">
                <span class="new_program_choose_color_item" v-for='color in colors' @click.stop='selectColor = color'
                  :class='{new_program_choose_color_item_checked: selectColor === color}'
                  :style='{backgroundColor: color}'></span>
              </div>
              <button @click="add_program()">建立專案</button>
            </div>
          </div>
          <div class="title">
            <transition name="fade" mode="out-in">
              <p v-if="click_complete_btn">已完成專案</p>
              <p v-else>現有專案</p>
            </transition>

          </div>

          <ul v-if="click_complete_btn" class="page_info_list setting_pm history_program">
            <li>
              <p><span></span>已完成專案1</p>
              <img src="../img/delete.0df56913.svg" alt="uncheck" width="20" />
            </li>

            <transition-group name="fade" mode="out-in" tag="div">
              <li v-for="(item,index) in history_programs" :key="index" @click="history_page=index">
                <p><span :style='{backgroundColor: item.color}'></span>{{item.program_names}}</p>
                <img src="../img/delete.0df56913.svg" alt="uncheck" width="20" @click.stop='delete_program(index)' />

              </li>
            </transition-group>
          </ul>


          <ul v-else class="page_info_list setting_pm having_program">
            <!-- <li>
              <p><span></span>專案1專案1專案1專案1專案1專案1專案1</p>
              <img src="../img/check.svg" alt="check" width="20" />
            </li> -->

            <transition name="fade" mode="out-in">
              <!-- <li @click="page=1">
                <p><span></span>專案1</p>
                <img src="../img/uncheck.svg" alt="uncheck" width="20" @click.stop='program_complete_func()' />
              </li> -->
            </transition>
            <transition name="fade" mode="out-in">
              <li @click="page=-1">
                <p><span></span>專案0</p>
                <img src="../img/uncheck.svg" alt="uncheck" width="20" @click.stop='program_complete_func()' />
              </li>
            </transition>



            <transition-group name="fade" mode="out-in" tag="div">
              <li v-for="(item,index) in programs" :key="index" @click="page=index">
                <p><span :style='{backgroundColor: item.color}'></span>{{item.program_names}}</p>
                <img src="../img/check.svg" alt="check" width="20" v-if='item.changeimage' />
                <img src="../img/uncheck.svg" alt="uncheck" width="20" v-else @click.stop="complete_info_func(index)" />

              </li>
            </transition-group>

          </ul>





          <div class="setting_bookmark" @click='change_watched_text'>
            <p v-if="click_complete_btn">現有專案</p>
            <p v-else>已完成專案</p>
          </div>
        </div>

      </nav>
    </header>
    <main>
      <div class="content">
        <!-- 內容 -->
        <!-- 卡片(有header) -->
        <!-- @include card($width: auto, $height: auto, $header: true, $color: $primary) -->

        <!-- 
          .card_box {
            @include card(500px, 500px, true, $primary);
          } 
          -->
        <!-- <div class="card_box">
            <div class="card_header">123</div>
            <div class="card_content">456</div>
          </div> -->
        <!-- 卡片(沒header) -->
        <!-- 
          .card_box {
            @include card(500px, 500px, false);
          } 
          -->
        <!-- <div class="card_box">
            <div class="card_content">456</div>
          </div> -->

        <div id="no_program_screen" v-if="click_complete_btn==false && page==-1">快來建立新專案吧!</div>

        <!-- 現有專案 -->
        <transition-group name="fade" mode="out-in">
          <div id="program_main" v-if="click_complete_btn==false && page == index" v-for="(item,index) in programs"
            :key="index">

            <div class="invite_list">
              <div class="program_member"><img src="./img/program_img/program_member_1.png" alt=""></div>
              <div class="program_member"><img src="./img/program_img/program_member_2.png" alt=""></div>
              <div class="program_member"><img src="./img/program_img/program_member_3.png" alt=""></div>

              <div class="program_member_more">+4</div>
              <button class="invite_btn" @click.stop='invite_add_member_box = !invite_add_member_box'>邀請</button>
              <transition name="fade" mode="out-in">
                <div class="invite_add_member_box" v-show="invite_add_member_box" @click.stop="">
                  <p>輸入會員帳號</p>
                  <form action="">
                    <input type="email" class="invite_add_member_addr">
                  </form>
                </div>
              </transition>
            </div>


            <div class="cards_column_all" id="cards_column_all">
              <div class="cards_column todo_column">
                <div class="cards_column_head" :style='{backgroundColor: item.color}'>待辦事項</div>

                <div class="cards_column_body cards_column_body_todo">
                  <div class="add_card_input_box_all">
                    <transition name="fade" mode="out-in">
                      <div class="add_cards_btn_div" v-show="add_cards_btn_div"
                        @click.stop="show_cards_list_card_input_box()">
                        <button class="add_cards_btn"><img src="./img/plus.a4d786b4.svg" alt=""><img
                            src="./img/icon/plus_on.d2fc8c08.svg" alt=""></button>
                        <p>建立卡片</p>
                      </div>
                    </transition>
                    <transition name="fade" mode="out-in">
                      <div class="cards_list_card cards_list_card_input_box" id="cards_list_card_input_box"
                        v-show="cards_list_card_input_box" @click.stop="" draggable="false">
                        <textarea v-model.trim="card_name" @keyup.enter="add_card(index)"></textarea>
                        <div class="cards_list_card_input_box_button_bar"><button @click="add_card(index)">建立卡片</button>
                        </div>
                      </div>
                    </transition>
                  </div>

                  <div class="cards_list cards_list_todo" id="cards_list_todo">
                    <!-- <div class="cards_list_card">
                      <div class="cards_list_card_color"></div>
                      <p>事情A</p>
                      <div class="cards_list_card_icon_bar">
                        <div class="cards_list_card_icon cards_list_card_calendaricon"><img
                            src="./img/icon/calendar.e1ea5ef5.svg" alt=""></div>
                        <span>2020-02-26 12:02</span>
                        <div class="cards_list_card_icon_right">
                          <div class="cards_list_card_icon cards_list_card_todoicon"><img src="./img/check.svg" alt="">
                          </div>
                          <span>0/6</span>
                        </div>
                      </div>
                    </div> -->

                    <!-- <transition-group name="fade" mode="out-in" tag="div"> -->
                    <div class="cards_list_card" v-for="(item, cardIndex) in item.cards" :key="cardIndex"
                      @click.stop="open_card_func(index, cardIndex)" @mouseup="catch_card_position()">
                      <div class="cards_list_card_color" :style='{backgroundColor: programs[index].color}'></div>
                      <p>{{item.card_name}}</p>
                      <div class="cards_list_card_icon_bar">
                        <div class="cards_list_card_icon cards_list_card_calendaricon"><img
                            src="./img/icon/calendar.e1ea5ef5.svg" alt=""></div>
                        <span>未設定</span>
                        <div class="cards_list_card_icon_right">
                          <div class="cards_list_card_icon_right">
                            <div class="cards_list_card_icon cards_list_card_todoicon"><img src="./img/check.svg"
                                alt="">
                            </div>
                            <span>0/0</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- </transition-group> -->

                  </div>

                </div>
              </div>

              <div class="cards_column doing_column">
                <div class="cards_column_head" :style='{backgroundColor: item.color}'>進行中</div>
                <div class="cards_column_body cards_column_body_doing">
                  <div class="cards_list cards_list_doing">

                    <!-- <div class="cards_list_card" @click="opened = !opened">
                      <div class="cards_list_card_color"></div>
                      <p>團專衝刺</p>
                      <div class="cards_list_card_icon_bar">
                        <div class="cards_list_card_icon cards_list_card_calendaricon"><img
                            src="./img/icon/calendar.e1ea5ef5.svg" alt=""></div>
                        <span>2020-03-02 15:00</span>
                        <div class="cards_list_card_icon_right">
                          <div class="cards_list_card_icon cards_list_card_todoicon"><img src="./img/check.svg" alt="">
                          </div>
                          <span>0/7</span>
                        </div>
                      </div>
                    </div> -->

                  </div>
                </div>

              </div>

              <div class="cards_column done_column">
                <div class="cards_column_head" :style='{backgroundColor: item.color}'>已完成</div>
                <div class="cards_column_body cards_column_body_done">
                  <div class="cards_list cards_list_done">

                    <!-- <div class="cards_list_card">
                      <div class="cards_list_card_color"></div>
                      <p>事情C</p>
                      <div class="cards_list_card_icon_bar">
                        <div class="cards_list_card_icon cards_list_card_calendaricon"><img
                            src="./img/icon/calendar.e1ea5ef5.svg" alt=""></div>
                        <span>2020-02-16 7:00</span>
                        <div class="cards_list_card_icon_right">
                          <div class="cards_list_card_icon cards_list_card_todoicon"><img src="./img/check.svg" alt="">
                          </div>
                          <span>3/3</span>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>


              </div>
            </div>

            <div class="cal-chat_all_bar">
              <div class="program_calendar_all cal-chat_same_all">
                <button class="calendar_btn cal-chat_same_btn" @click.stop='calendar_btn = ! calendar_btn'><img
                    src="./img/icon/calendar_white.svg" alt=""></button>

              </div>
              <div class="program_chatroom_all cal-chat_same_all">
                <button class="chatroom_btn cal-chat_same_btn" @click.stop='chatroom_btn = !chatroom_btn'><img
                    src="./img/program_img/chat_white.svg" alt=""></button>
              </div>
            </div>
            <transition name="fade" mode="out-in">
              <div id="calendar" v-cloak v-show="calendar_btn" @click.stop="">
                <h1 class="calendar_date_title">
                  <div class="mont_date">{{calendar.date}}</div>
                  <div>
                    <div>th</div>
                    <div>{{calendar.day}}</div>
                  </div>
                  <div class="todaybutton">
                    <button @click="setToday">Today</button>
                  </div>
                </h1>
                <div class="calendar_date_midtitle">

                  <div @click="adjustMonth(-1)" class="calleft_arrow"><img src="./img/icon/arrow-point-to-left.svg"
                      alt="" width="20"></div>
                  <div>{{calendar.year}}</div>
                  <div>{{calendar.week}}</div>
                  <div @click="adjustMonth(1)" class="calright_arrow"><img src="./img/icon/arrow-point-to-right.svg"
                      alt="" width="20"></div>


                </div>

                <div class="calendar">
                  <div class="weekDay">
                    <div style="color: #eb7a77;">Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div style="color: #eb7a77;">Sat</div>
                  </div>
                  <div class="week" v-for="i in 5">
                    <div class="day" v-for="j in 7" :data-date="calendarMonth[(i-1)*7+j-1].date" :class="{
                                 today:calendarMonth[(i-1)*7+j-1].year === today.year && calendarMonth[(i-1)*7+j-1].month === today.month && calendarMonth[(i-1)*7+j-1].date === today.date,
                                 other:calendarMonth[(i-1)*7+j-1].month !== calendar.month
                                }">
                    </div>
                  </div>
                </div>
              </div>
            </transition>

          </div>
        </transition-group>

        <!-- 已完成專案-->
        <transition-group name="fade" mode="out-in">
          <div id="program_main" v-if="click_complete_btn==true && history_page == index"
            v-for="(item,index) in history_programs" :key="index">

            <div class="invite_list">
              <div class="program_member"><img src="./img/program_img/program_member_1.png" alt=""></div>
              <div class="program_member"><img src="./img/program_img/program_member_2.png" alt=""></div>
              <div class="program_member"><img src="./img/program_img/program_member_3.png" alt=""></div>

              <div class="program_member_more">+4</div>
              <!-- <button class="invite_btn" @click.stop='invite_add_member_box = !invite_add_member_box'>邀請</button>
        <transition name="fade" mode="out-in">
          <div class="invite_add_member_box" v-show="invite_add_member_box" @click.stop="">
            <p>輸入會員帳號</p>
            <form action="">
              <input type="email" class="invite_add_member_addr">
            </form>
          </div>
        </transition> -->
            </div>


            <div class="cards_column_all" id="cards_column_all">
              <div class="cards_column todo_column">
                <div class="cards_column_head" :style='{backgroundColor: item.color}'>待辦事項</div>

                <div class="cards_column_body cards_column_body_todo">
                  <!-- <div class="add_card_input_box_all">
                      <transition name="fade" mode="out-in">
                        <div class="add_cards_btn_div" v-show="add_cards_btn_div"
                          @click.stop="show_cards_list_card_input_box(),add_cards_btn_div =! add_cards_btn_div">
                          <button class="add_cards_btn"><img src="./img/plus.a4d786b4.svg" alt=""><img
                              src="./img/icon/plus_on.d2fc8c08.svg" alt=""></button>
                          <p>建立卡片</p>
                        </div>
                      </transition>
                      <transition name="fade" mode="out-in">
                        <div class="cards_list_card cards_list_card_input_box" id="cards_list_card_input_box"
                          v-show="cards_list_card_input_box" @click.stop="" draggable="false">
                          <textarea v-model.trim="card_name" @keyup.enter="add_card(card_name)"></textarea>
                          <div class="cards_list_card_input_box_button_bar"><button
                              @click="add_card(card_name)">建立卡片</button>
                          </div>
                        </div>
                      </transition>
                    </div> -->

                  <div class="cards_list cards_list_todo">




                  </div>

                </div>
              </div>

              <div class="cards_column doing_column">
                <div class="cards_column_head" :style='{backgroundColor: item.color}'>進行中</div>
                <div class="cards_column_body cards_column_body_doing">
                  <div class="cards_list cards_list_doing">


                  </div>
                </div>

              </div>

              <div class="cards_column done_column">
                <div class="cards_column_head" :style='{backgroundColor: item.color}'>已完成</div>
                <div class="cards_column_body cards_column_body_done">
                  <div class="cards_list cards_list_done">

                    <!-- <transition-group name="fade" mode="out-in" tag="div"> -->
                    <div class="cards_list_card" v-for="item in item.cards" :key="item">
                      <div class="cards_list_card_color" :style='{backgroundColor: history_programs[index].color}'>
                      </div>
                      <p>{{item}}</p>
                      <div class="cards_list_card_icon_bar">
                        <div class="cards_list_card_icon cards_list_card_calendaricon"><img
                            src="./img/icon/calendar.e1ea5ef5.svg" alt=""></div>
                        <span>未設定</span>
                        <div class="cards_list_card_icon_right">
                          <div class="cards_list_card_icon_right">
                            <div class="cards_list_card_icon cards_list_card_todoicon"><img src="./img/check.svg"
                                alt="">
                            </div>
                            <span>0/0</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- </transition-group> -->

                  </div>
                </div>


              </div>
            </div>

            <div class="cal-chat_all_bar">
              <div class="program_calendar_all cal-chat_same_all">
                <button class="calendar_btn cal-chat_same_btn" @click.stop='calendar_btn = !calendar_btn'><img
                    src="./img/icon/calendar_white.svg" alt=""></button>
              </div>
              <div class="program_chatroom_all cal-chat_same_all">
                <button class="chatroom_btn cal-chat_same_btn" @click.stop='chatroom_btn = !chatroom_btn'><img
                    src="./img/program_img/chat_white.svg" alt=""></button>
              </div>
            </div>

          </div>
        </transition-group>


       
        <div class="complete_info_mask"
          @click.stop="complete_info_box = !complete_info_box;programs[index].show_complete_info_box=false"
          v-for="(item,index) in programs" v-if="programs[index].show_complete_info_box==true">
          <div class="complete_info_box" @click.stop="">
            <p>確定要完成{{item.program_names}}專案嗎?<br>
              完成專案後就無法再回到現有專案了喔!</p>
            <button @click="program_complete_func(index)">確定</button>
            <button
              @click="complete_info_box=!complete_info_box;programs[index].show_complete_info_box=false">返回</button>
          </div>
        </div>
     

        <!-- 卡片背面 -->
        <div class="mask" :class="{masked: opened}" @click="opened =! opened"></div>
        <div>
          <div class="card_light_box" id="card_light_box" :class="{opneLight: opened}">
            <div class="card_header_title" v-if="targetCardInfo"
              :style='{backgroundColor: programs[targetCardInfo.programIndex].color}'>
              <h1 id="card_title">{{ programs[targetCardInfo.programIndex].cards[targetCardInfo.cardIndex].card_name }}
              </h1>
              <div @click="opened = false"><img src="./img/card_img/cancel_w.svg" alt=""></div>
            </div>

            <div class="lightbox_content">
              <div class="left_aside">
                <div class="first_right">
                  <h3>新增至卡片</h3>
                  <hr />
                  <div class="first_right_member" @click.stop="openmember(),member_switch =! member_switch"
                    :class="{click_light_two :member_switch}">
                    <img src="./img/card_img/multiple-users-silhouette.cde8086c.svg" alt="" style="width: 20px;" />
                    成員
                  </div>
                  <div class="wave" @click.stop="opendate(),calandar_switch =! calandar_switch"
                    :class="{click_light :calandar_switch}">
                    <img src="./img/calendar.e1ea5ef5.svg" alt="" style="width: 20px;" />
                    到期日
                  </div>
                  <div @click.stop="opentodo(),todo_switch =! todo_switch" class="todogo"
                    :class="{click_light_three :todo_switch}">
                    <img src="./img/content.22f4a956.svg" alt="" style="width: 20px;" />
                    待辦清單
                  </div>

                  <div @click.stop="openfile(),fileder_switch =! fileder_switch" class="upfile"
                    :class="{click_light_four : fileder_switch}">
                    <img src="./img/card_img/paperclip.cf9c8806.svg" alt="" style="width: 20px;" />
                    上傳附件
                  </div>

                  <!-- 新增待辦清單跳窗 -->
                  <transition name="fade" mode="out-in">
                    <div class="todo_lightbox" v-show="todo_lightbox_switch" @click.stop="">
                      <label>
                        <p>待辦清單標題</p>
                        <!-- 讓燈箱的字和標題同步 -->
                        <input type="text" class="todo_lightbox_input" v-model.trim="todo_lightbox_input_title"
                          @keyup.13="todo_list_add()">
                      </label>
                      <div class="todo_lightbox_botton" @click="todo_list_add()">
                        <button>新增</button>
                      </div>
                    </div>
                  </transition>


                  <!-- 新增日曆跳窗 -->
                  <transition name="fade" mode="out-in">
                    <div class="calendar_lightbox" @click.stop="" v-show="showCalender">
                      <h3>更改到期日</h3>
                      <p class="day_date">日期</p>
                      <div class="calendar_lightbox_content">
                        <!-- 手刻日立 -->
                        <div class="calendar" id='inCalender' ref='inCalender'>
                          <div class="calendar_header">
                            <button class="prev">
                              <i class="material-icons">
                                keyboard_arrow_left
                              </i>
                            </button>
                            <p class="month">May 2019</p>
                            <button class="next">
                              <i class="material-icons">
                                keyboard_arrow_right
                              </i>
                            </button>
                          </div>
                          <table class="calendar_body" ref='calendarBody'></table>
                        </div>

                      </div>
                    </div>
                  </transition>

                  <!-- 上船附件跳窗 -->
                  <transition name="fade" mode="out-in">
                    <div class="file_lightbox" v-show="file_switch" @click.stop="" @change="fileSelected">
                      <h3>上傳檔案</h3>
                      <form method="post" enctype="multipart/form-data">
                        <label class="upfile_content">
                          <p>上傳附件</p>
                          <input type="file" multiple id="upFile">
                        </label>
                      </form>
                    </div>
                  </transition>

                  <!-- 新增成員跳窗 -->
                  <transition name="fade" mode="out-in">
                    <div class="card_member_lightbox" v-show="card_meber_switch" @click.stop="">
                      <h3>成員</h3>
                      <br>
                      <label for="">
                        <input type="text" placeholder="搜尋成員">
                      </label>
                      <h4>看版成員</h4>
                      <ul>
                        <li>
                          <div class="card_member_message" v-for="(item,index) in memebergo"
                            @click="member_outin(index)" :class="{mem_addcolor: item.uncolor}">
                            <div><img :src="item.src" alt=""></div>
                            <span class="card_member_name">{{item.member_name}}<span>{{item.userId}}</span></span>
                            <div><img :src="item.check" alt=""></div>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </transition>



                </div>
                <div class="second_right">
                  <h3>卡片動作</h3>
                  <hr />
                  <div class="second_right_deletecard">
                    <img src="./img/card_img/delete.0df56913.svg" alt="" style="width: 20px;" />
                    刪除卡片
                  </div>
                </div>
              </div>
              <div class="right_aside">
                <div class="memberRight">
                  <div class="card_memver_head">
                    <div class="card_member_title">
                      <div>
                        <img src="./img/card_img/multiple-users-silhouette.cde8086c.svg" alt="" style="width: 20px;" />
                      </div>
                      <h3>成員</h3>
                    </div>
                    <div class="memimg">
                      <div class="card_member" v-for="(item,index) in member_inout"><img :src="item.source" alt="">
                      </div>
                      <!-- <div class="card_member"><img src="./img/program_img/program_member_2.png" alt=""></div>
                        <div class="card_member"><img src="./img/program_img/program_member_3.png" alt=""></div> -->
                    </div>
                  </div>
                  <div class="calendar">
                    <div class="calendar_title">
                      <div><img src="./img/calendar.e1ea5ef5.svg" alt="" style="width: 20px;" /></div>
                      <h3>到期日</h3>
                    </div>
                    <div class="calendar_status">
                      <div class="calendar_img">
                        <img src="./img/uncheck.svg" alt="" v-show="isactive" @click="changeimg">
                        <img src="./img/check.svg" alt="" v-show="onactive" @click="onchangeimg">
                      </div>
                      <!-- hover時顏色好像改不了 -->
                      <!-- <p><date-picker v-model="time2" valueType="format"/></p> -->

                      <img src="./img/card_img/down-arrow.4172a7ec.svg" alt="" style="width: 15px;height: 15px;">
                      <span :class="classObject">{{text}}</span>
                    </div>
                  </div>


                  <div class="card_todo_content" v-show="show_test">
                    <div class="todo_title">
                      <div class="cardtitle_img"><img src="./img/card_img/content.22f4a956.svg" alt="" width="20"></div>
                      <h3>待辦事項</h3>
                      <div class="all_card_todo_delete"><img src="./img/card_img/delete.0df56913.svg" alt="" width="20"
                          @click="show_test =! show_test"></div>
                    </div>
                    <div class="todo_progress_bar">
                      <p>0%</p>
                      <div class="progress_bar">
                        <span :style="{width:test_length+'%'}"></span>
                      </div>
                    </div>
                    <!-- 新增的卡片細項 -->
                    <div>
                      <div class="card_check_item" v-for="(item,index) in todo_test" :key="index">
                        <div @click="item.test_status = !item.test_status,item.test_text =! item.test_text">
                          <img src="./img/uncheck.svg" alt="" v-if="item.test_status">
                          <img src="./img/check.svg" alt="" v-else>
                        </div>
                        <p :class="{lineThrough:item.test_text}">{{item.test_title}}</p>
                        <div><img src="./img/icon/time-left.svg" alt=""></div>
                        <div><img src="./img/card_img/delete.0df56913.svg" alt="" @click="delte_test_detail(index)">
                        </div>

                      </div>

                    </div>
                    <div class="card_add_button">

                      <label for="">
                        <input placeholder="增加項目" type="text" class="card_detail_lightbox_input"
                          v-model.trim="test_message" @keyup.enter="add_test_card"
                          @focus="text_card_length =! text_card_length" :class="{addlength : text_card_length}"
                          @blur="text_card_length =! text_card_length">
                        <img src="./img/card_img/plus_write.svg" alt="" width="14" @mousedown="add_test_card">
                      </label>

                    </div>


                  </div>




                  <!-- 新增出來的待辦清單 -->
                  <transition-group name="fade" tag="div">
                    <div class="card_todo_content" v-for="(item,detailIndex) in todo_list_content_detail"
                      :key="detailIndex">
                      <div class="todo_title">
                        <div class="cardtitle_img"><img src="./img/card_img/content.22f4a956.svg" alt="" width="20">
                        </div>
                        <h3>{{item.title}}</h3>
                        <div class="all_card_todo_delete" @click="deletecard_todo(detailIndex)"><img
                            src="./img/card_img/delete.0df56913.svg" alt="" width="20"></div>
                      </div>
                      <div class="todo_progress_bar">
                        <p>0%</p>
                        <div class="progress_bar">
                          <span :style="{width:0+'%'}"></span>
                        </div>
                      </div>
                      <!-- 新增的卡片細項 -->


                      <transition-group name="fade" tag="div">

                        <div class="card_check_item" v-for="(item,index) in item.lists" :key="index">
                          <div @click="item.status = !item.status,item.text =!item.text">
                            <img src="./img/uncheck.svg" alt="" v-if="item.status"
                              @click="changeprogressbar(bigindex,index)">
                            <img src="./img/check.svg" alt="" v-else>
                          </div>
                          <p :class="{lineThrough:item.text}">{{item.content}}</p>
                          <div><img src="./img/icon/time-left.svg" alt=""></div>
                          <div><img src="./img/card_img/delete.0df56913.svg" alt=""
                              @click="delete_todo_title(detailIndex,index)"></div>
                        </div>

                      </transition-group>


                      <div class="card_add_button">

                        <label for="">
                          <input placeholder="增加項目" type="text" class="card_detail_lightbox_input"
                            v-model.trim="item.test" @keyup.enter="add_card_detail(detailIndex)"
                            @focus="item.card_length =! item.card_length" :class="{addlength : item.card_length}"
                            @blur="item.card_length =! item.card_length">
                          <img src="./img/card_img/plus_write.svg" alt="" width="14"
                            @mousedown="add_card_detail(detailIndex)">
                        </label>

                      </div>

                    </div>
                  </transition-group>




                  <!-- 上傳附件 -->
                  <div class="card_file">
                    <div class="card_file_title">
                      <div class="file_title_img"><img src="./img/card_img/paperclip.cf9c8806.svg" alt="" width="20">
                      </div>
                      <h3>附件</h3>
                    </div>
                    <ul>
                      <li v-for="(item,index) in filebox">
                        <a :href="item.source" :download="item.name">{{item.name}}</a>
                        <div><img src="./img/card_img/delete.0df56913.svg" alt="" width="20" @click="del_file(index)">
                        </div>
                      </li>
                    </ul>
                    <div class="card_upload_file">
                      <!-- <div>上傳的內容</div> -->
                      <form method="post" enctype="multipart/form-data" @change="fileSelected">
                        <label class="upfile_content">
                          <p>上傳附件</p>
                          <input type="file" multiple>
                        </label>
                      </form>
                    </div>
                  </div>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </main>
  </div>

  <script src="../js/lib/three.min.js"></script>
  <script type="x-shader/x-fragment" id="fragmentshader">
    uniform vec3 color;
        uniform sampler2D texture;
        varying float opacity;
        varying vec3 vColor;
        void main() {
            gl_FragColor = vec4(vColor * color, 1);
            gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );
        }
    </script>
  <script src="../js/background.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
  <script src="./js/calender.js"></script>
  <script src="./js/program.js"></script>
  <script>
    const container = document.getElementById("app");
    const hamburger = document.querySelector(".nav_hamburger");
    hamburger.addEventListener("click", () =>
      container.classList.toggle("nav_open")
    );
  </script>
</body>

</html>