
// 使用方式：
// html:
// <button id="btntest">test</button>

// css
// #btntest{
//   @include btn_animation;
// }
@mixin btn_animation {
  width: 150px;
  height: 30px;
  border-radius: 50px;
  @include font($level: 1, $lineHeight: null);
  @include btnReset;
  transition: all 0.5s;
  color: $dark;
  margin-top: 70px;
  background-color: $primary;
  color: $white;
  border-color: #ffffff;
  outline: none;
  cursor: pointer;
  position: relative;
  animation: boxbig 1s;
  transition: all 0.5s;
  animation-delay: 1.5s;

  &::after {
    content: "";
    position: absolute;
    // border: 1px solid red;
    width: 150px;
    height: 30px;
    left: 0.5px;
    top: 1px;
    border-radius: 100px;
    background-color: rgba(138, 206, 222, 0.5);
    z-index: -1;
    animation: boxbig 1s;
    transition: all 0.5s;
  }
  &::before {
    content: "";
    position: absolute;
    // border: 1px solid red;
    width: 150px;
    height: 30px;
    left: 0.5px;
    top: 0.9px;
    border-radius: 100px;
    background-color: rgba(138, 206, 222, 0.5);
    z-index: -1;
    animation: boxbig 1s;
    transition: all 0.5s;
    animation-delay: 0.5s;
 
  }
  &:hover {
    background-color: rgb(243, 202, 211);
    color: $dark;
  }

  &:hover::after {
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: both;
    background-color: rgba(245, 214, 220, 0.5);
  }
  &:hover::before {
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: both;
    background-color: rgba(245, 224, 224, 0.5);
  }
}

@keyframes boxbig {
  form {
    transform: scale(0);
  }

  to {
    transform: scale(1.12);
    height: 40px;
    top: -4.65px;
  }
}