//網站顏色
$primary: #67d2de;
$white: #ffffff;
$dark: #666666;
$shadow: rgba(#000000, 0.1);
$red:#ff0000;

//側面欄寬
$slideBar: 250px;

//字級，行距，字間距
$baseFont: 14px;
$baseLine: 10px;
$lineLevel: 1.2;
$fontLevel: 2px;
