
.card_light_box{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  width:768px;
  min-height: 600px;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow:  3px 3px 6px 0px $shadow;
  // display: none;
  overflow: hidden;
  h1,.input{
 margin: 0 auto;
 border: 1px solid red;
 text-align: center;
 @include  font(5,50px);
 background-color: #5395DE;
 color: white;
  
  }
  .lightbox_content{
    display: flex;
   margin-top: 20px
  }
  .left_aside{
    display: flex;
    flex-direction: column;
    width: 180px;
    // height: 100%;
    overflow: hidden;
    border-right: 1px solid #5395DE;
    padding-left: 20px;
        .first_right div,.second_right div{
          &:nth-child(n){
             width: 90%;
            margin:5px 0px;
            padding: 5px;
            &:hover{
              background-color:#CEE0FF ;
              // color:$primary ;
              cursor: pointer;
              img{
                filter: invert(54%) sepia(10%) saturate(3742%) hue-rotate(174deg) brightness(79%) contrast(94%);
              }
            }
           
          }
        }
       hr{
         width: 75%;
       }
    img{
      margin-right:15px;
    }
  }
    h3{
      @include  font(2,40px);
     font-weight: 400;
      display: inline-block;
    }
  
}

