.cart_page.active {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: $dark;
  color: $fontColorBlack;
  display: flex;
  flex-wrap: wrap;

  .cart_title {
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 0px 10px;
    box-sizing: border-box;

    h1 {
      @include font(5, 50px);
      // color: $fontColorBlack;
    }
  }

  .cart_list,
  .cart_total {
    height: calc(100% - 50px);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px $shadow;
  }

  .cart_list {
    width: calc(60% - 10px);
    margin-right: 10px;
    overflow: scroll;

    .cart_product {
      margin-bottom: 20px;
      display: flex;
      border-radius: 10px;
      box-shadow: 1px 1px 3px $shadow;
      background-image: linear-gradient(30deg, rgba(129, 199, 212, 0.15), rgba(248, 195, 205, 0.15));
      justify-content: flex-start;
      align-items: center;
      position: relative;
      left: -110%;
      opacity: 0;

      .cart_product_img {
        width: 30%;
        margin: 10px;
        display: block;

        img {
          width: 100%;
          border-radius: 10px;
        }
      }

      .cart_product_message {
        width: 50%;

        p {
          margin: 5px 0px;
          @include font(0, 18px);
        }

        h3 {
          @include font(3, 26px);
        }
      }

      .cart_product_qty {
        width: 20%;
        margin-right: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        .cart_cut_product,
        .cart_add_product {
          @include btnReset;
          width: 30px;
          height: 30px;
          background-color: rgba(255, 255, 255, .2);
          border: 1px solid rgba(255, 255, 255, .3);
        }

        p {
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          background-color: rgba(255, 255, 255, .2);
          border-Top: 1px solid rgba(255, 255, 255, .3);
          border-bottom: 1px solid rgba(255, 255, 255, .3);
        }
      }
    }
  }
}

.cart_total {
  width: calc(40% - 20px);
  min-width: 360px;
  margin-left: 10px;
  box-sizing: border-box;
  overflow: scroll;

  .cart_summary {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

    h2 {
      height: 50px;
      @include font(4, 50px);
    }

    p {
      @include font(3, 26px);
    }

    h3 {
      @include font(3, 30px);
    }
  }

  .cart_account {
    width: 100%;
    // padding: 10px;
    margin-top: 10px;
    border-radius: 10px;

    .cart_credit_card {
      background-color: #e2655d;
      width: 340px;
      height: 212.5px;
      border-radius: 15px;
      margin: auto;
      position: relative;

      .cart_card_number {
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0px 20px;
        position: absolute;
        top: 80px;
        @include font(3, 50px);
        color: white;
        // border: 1px solid whitesmoke;
      }
    }

    .cart_credit_card_mes {
      width: 100%;
      padding: 10px;
      border-radius: 10px;

      .cart_card_text {
        padding: 10px 0px 0px;
        @include font(0, 18px);
      }

      .cart_numbox1 {
        display: flex;
        justify-content: space-between;

        .cart_inputnum1 {
          @include inputReset;
          border: 1px solid #ddd;
          width: 22%;
          height: 30px;
          margin-bottom: 15px;
          border-radius: 5px;
        }

        .cart_inputnum2 {
          @include inputReset;
          border: 1px solid #ddd;
          width: 100%;
          height: 30px;
          margin-bottom: 15px;
          border-radius: 5px;
        }
      }

      .cart_numbox2 {
        width: 100%;
        display: flex;

        .cart_select_box {
          width: 60%;

          select {
            width: 40%;
            height: 30px;
          }
        }

        .cart_numbox3 {
          width: 40%;

          .cart_inputnum2 {
            @include inputReset;
            border: 1px solid #ddd;
            width: 100%;
            height: 30px;
            margin-bottom: 15px;
            border-radius: 5px;
          }
        }
      }

      .cart_recipient {
        width: 100%;

        .cart_recipient_info {
          width: 100%;
          // border: 1px solid blue;
          display: flex;
          justify-content: space-between;

          .cart_recipient_info_text {
            width: 50%;
            padding: 10px 0px 0px;

            p {
              @include font(0, 18px);
            }

            .cart_inputnum3 {
              @include inputReset;
              border: 1px solid #ddd;
              width: 100%;
              height: 30px;
              margin-bottom: 15px;
              border-radius: 5px;
            }
          }

          .cart_recipient_info_text:nth-child(1) {
            padding-right: 10px;
          }

          .cart_recipient_info_text:nth-child(2) {
            padding-left: 10px;
          }
        }

        .cart_recipient_info_add{
          width: 100%;
          padding: 10px 0px 0px;
          p{
            @include font(0, 18px);
          }
          .cart_inputnum2{
            @include inputReset;
            border: 1px solid #ddd;
            width: 100%;
            height: 30px;
            margin-bottom: 15px;
            border-radius: 5px;
          }
        }
      }

      .cart_submit {
        width: 100%;
        // border: 1px solid red;
        height: 40px;
        margin-top: 10px;
        border-radius: 10px;
        background-color: #999;

        button {
          width: 100%;
          height: 38px;
          @include btnReset;
        }
      }
    }
  }
}