.card_light_box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 768px;
  min-height: 600px;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 3px 3px 6px 0px $shadow;
  // display: none;
  overflow: hidden;
  &.opneLight {
    opacity: 1;
    display: block;
    z-index: 10001;
  }
  h1,
  .input {
    margin: 0 auto;
    border: 1px solid red;
    text-align: center;
    @include font(5, 50px);
    background-color:$programcolor1;
    color: white;
  }
  .lightbox_content {
    display: flex;
    margin-top: 20px;
  }
  .left_aside {
    display: flex;
    flex-direction: column;
    width: 180px;
    // height: 100%;
    overflow: hidden;
    border-right: 1px solid #5395de;
    padding-left: 20px;
    padding-top: 25px;
    .first_right div,
    .second_right div {
      &:nth-child(n) {
        width: 90%;
        margin: 5px 0px;
        padding: 5px;
        &:hover {
          background-color: #cee0ff;
          // color:$primary ;
          cursor: pointer;
          img {
            filter: invert(54%) sepia(10%) saturate(3742%) hue-rotate(174deg)
              brightness(79%) contrast(94%);
          }
        }
      }
    }
    hr {
      width: 75%;
    }
    img {
      margin-right: 15px;
    }
  }
  h3 {
    @include font(2, 40px);
    font-weight: 400;
    display: inline-block;
  }
}

//遮罩
.content .masked {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
  display: block;
}


//右半邊修改
.memberRight{
  padding-left: 30px;
  .memimg .card_member{
    display: inline-block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden;
      margin: 5px;
      vertical-align: middle;
      img {
        width: 100%;

      }
  }
  .calendar{
    padding: 8px 0px;
    .calendar_status{
      padding: 5px 25px;
      display: flex;
      .calendar_img{
        width:25px ;
        padding-right: 5px;
        img{
          width: 100%;
        }
      }
      p:nth-child(2){
        &:hover{
          color:$primary;
        }
      }
      img:nth-child(3){
        margin-top: 5px;
        margin-left: 7px;
      }
      span:nth-child(4){
        margin-left: 7px;
        border-radius:5px;
        padding: 0 5px;
        transition:background-color 0.3s;
        background-color: $danger;
        color: #fff;
      }
    }
  }
}