#cart_page {
    @include positionfixed (99999, 3%, 95%);
    width: 0%;
    height: 0%;
    transition: all .2s;

    h2 {
        display: none;
        color: #666;
    }

    #cart_main {
        display: none;
    }
}


.cart_bg.show {
    @include positionfixed(11000, 0%, 0%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(150, 150, 150, 0.1);

    #cart_page {
        @include positionfixed (99999, 10%, 15%);
        background-color: rgba(100, 100, 150, .2);
        width: 70%;
        height: 80%;
        border-radius: 20px;
        transition: all .5s;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        transform: rotateZ(360deg);

        #cart_title {
            margin: 1.5%;
            margin-bottom: 0;

            h2 {
                display: block;
                opacity: 1;
            }
        }

        #close_cart {
            @include closeBtn(p);
        }

        #cart_underline {
            width: 95%;
            height: 1.5px;
            margin: 0 2.5% 20px 2.5%;
            background-image: linear-gradient(to right, rgb(113, 78, 176) 0%, transparent);
        }

        #cart_main {
            margin: 0 2.5%;
            width: 95%;
            display: block;

            .cart_product {
                width: 100%;
                text-align: center;
                position: relative;
                left: 0;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                div:nth-child(1) {
                    width: 20%;

                    img {
                        padding: 0 15%;
                        width: 100%;
                    }
                }

                #cart_product_quantity {
                    width: 100px;
                    align-self: center;

                    input[type=text] {
                        text-align: center;
                        width: 30px;
                        height: 30px;
                    }

                    p {
                        display: inline;

                        img {
                            width: 20px;
                            position: relative;
                            top: 5px;
                        }
                    }
                }

                div:last-child {
                    width: 22px;

                    img {
                        width: 20px;
                    }
                }
            }
            #cart_submit{
                @include baseBtn(100px, auto, 30px);
            }
        }
    }
}