
// @import "./pages/calendarbyHand";
// @import "./pages/calendarbyHand";

/*------------------------- */
/*          商城頁面        */
/*------------------------- */

main{
  overflow: hidden;
}

.content {
  position: relative;
}

.mall_content {

  .mall_content_right {
    // border: 1px solid blue;
    width: 65%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.85);
    align-content: flex-start;
    @include positionCenter(y);
    align-content: space-around;
    box-shadow: 1px 1px 20px rgba(129, 129, 129, 0.7);
    // border-radius: 10px 0 0 10px;


    .cart_bg{
      position: absolute;
      padding: 10px;
      width: 75px;
      height:50px;
      top:0;
      right:0;
      margin: 15px 30px;

      .mall_cart_cir{
        background-color:$danger;
        color: $white;
        width: 18px;
        height: 18px;
        border-radius: 18px;
        border: 2px solid $danger;
        position: absolute;
        top: 25px;
        left: 30px;
        text-align: center;
        vertical-align: middle;

      }

      >img{
        cursor: pointer;
        width: 30px;
      }
    
    }

    .mall_poduct_cart {
      //商品卡片
      width: 100%;
      margin: 50px auto 0;

      .mall_poduct_content {
        //卡片內容
        display: flex;
        margin: 0 auto;

        .product_img {
          //商品圖
          width: 50%;
          padding: 10px;
          // margin: 20px;
          // border: 1px solid rgb(0, 255, 13);

          .big_pic {
            width: 100%;

            .b_img {
              width: 100%;
            }
          }
        }

        .product_text {
          //商品文字
          width: 50%;
          // border: 1px solid red;

          p {
            @include font(5);
          }

          ul.product_features {
            margin: 20px 0 0 20px;

            >li {
              @include font(1, 2);
              color: $dark;
            }
          }
        }
      }
    }
  }
}

//價格 按鈕
.price_btn {
  margin-top: 40px;

  .product_price {
    color: $price;
    display: inline-block;
    vertical-align: bottom;
    width: 20%;
    margin-right: 30px;

    .price_sale {
      font-weight: bolder;
      @include font(6);
    }

    span:nth-child(1) {
      font-weight: bolder;
    }

    span:nth-child(2) {
      margin-left: 5px;
      font-weight: bolder;
    }
  }

  .mall_bBtn_all {
    display: inline-block;
    width: 70%;
    vertical-align: middle;

    .mall_bBtn {
      background-color: $primary;
      width: 40%;
      padding: 15px 0;
      color: #fff;
      border-radius: 10px;
      border: 0;
      outline: none;
      cursor: pointer;
      @include font(1);
      // @include baseBtn(30%, 50px, 10px);
    }

    .mall_bBtn_cir {
      background-color: lighten($color: $primary, $amount:12) ;
      width: 55px;
      height: 55px;
      border-radius: 55px;
      border: 0;
      outline: none;
      cursor: pointer;
      padding: 15px 10px;
      margin: 0 5px;
      @include font(1);
      vertical-align: middle;
      // @include baseBtn(30%, 50px, 10px);
    }

   
  }
}
// .line {
//   height: 1px;
//   background-color: rgba(93, 93, 93, 0.609);
//   width: 100%;
//   margin: 10px;
// }

//輪播

.slider-bg {
  overflow: hidden;
  width: 100%;

  h2 {
    padding: 10px 0 0 10px;
    color:$primary;
    font-weight: 300;
    margin: 0 0 0 20px;
  }
}

.item {
  text-align: center;

  a {
    display: block;
    // border:1px solid red;
    color: rgb(77, 77, 77);
    text-decoration: none;
    padding: 20px 0;

    h4 {
      padding: 10px 0;
    }
  }
}

.mall_content {
  width: 100%;
  height: 100%;
  background-image: url(../img/mall_img/mall_bg.jpg);
  background-size: cover;
  vertical-align: auto;
  line-height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
}


@include media(1200px) {
  .price_btn {
    margin-top: 40px;
  
    .product_price {
      color: $price;
      display: inline-block;
      vertical-align: bottom;
      width: 20%;
      margin-right: 30px;
  
      .price_sale {
        font-weight: bolder;
        @include font(6);
      }
  
      span:nth-child(1) {
        font-weight: bolder;
      }
  
      span:nth-child(2) {
        margin-left: 5px;
        font-weight: bolder;
      }
    }
  
    .mall_bBtn_all {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
 
    }
  }
}

@include media(992px) {
  
}

@include media(767px) {

}