
/* mall page css */





// .h1{
//     @include font(1);
// } 
.mall_content{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
      background-color: rgb(241, 241, 241);
    .mall_box{  //商品圖
        width: 18%;
        background-color: #fff;
        padding: 1%;
        margin: 2% 1%;
        border-radius: 5%;
        box-shadow: 1px 1px 10px $shadow;
        transition: all .5s;
        cursor: pointer;
          img{
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
            width: 100%;
        
          }
          p{
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp:2;
          }
          .product_price{
           margin-top:10px;
            .price_sale{
                color:darken($color:$red, $amount: 10) ;
                @include font(5);
            }
          }
          .product_price span:nth-child(1){
            color:$dark ;
            text-decoration:line-through;
          }
          .product_price span:nth-child(2){
            color:darken($color:$red, $amount: 20) ;
          }

          &:hover{
              transform:rotateY(180deg) ;
              background:{
                  color: #83bac0;
                  size: 20%;
                  position: center;
                  repeat:no-repeat;
                  image: url(../img/add_cart.png);
                }
          
              img{
                  visibility: hidden;
              }

              p,.product_price{
                transform:rotateY(180deg);
              }
           

            }
    }
}


@include media(767px) {
    .mall_content{
        justify-content:center;
        margin: 0 auto;
        .mall_box{
            width: 48%;  
        }
    }
    
  }