
/* mall page css */


  #slider{
    margin: 2% 0 0;
    .owl-item img{
      height: 180px;
    }
  }
  






.mall_content{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
      background-color: rgb(241, 241, 241);
    .mall_box{  //商品圖
        width: 18%;
        background-color: #fff;
        padding: 1%;
        margin: 2% 1%;
        border-radius: 5%;
        box-shadow: 1px 1px 10px $shadow;
        transition: all .5s;
        cursor: pointer;
          img{
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
            width: 100%;
        
          }
          p{
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp:3;
          }
          .product_price{
           margin-top:10px;
            .price_sale{
                color:$price;
                @include font(5);
            }
          }
          .product_price span:nth-child(1){
            color:$dark ;
            text-decoration:line-through;
          }
          .product_price span:nth-child(2){
            color:$price;
          }

          &:hover{
              transform:rotateY(180deg) ;
              background-image: url(../img/add_cart.png);
              background-repeat:no-repeat;
              background-color: #09afc2;
              background-size: 20%;
              background-position: center;
        
              img{
                  visibility: hidden;
              }

              p,.product_price{
                transform:rotateY(180deg);
              }
           

            }
    }
}


@include media(767px) {
    .mall_content{
        justify-content:center;
        margin: 0 auto;
        .mall_box{
            width: 48%;  
        }
    }
    
  }