// ========側邊欄=======================
.memberitem {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  overflow: hidden;

  .personal_photo {
    width: 100%;
    height: 180px;
    // border: 1px solid gold;

    .picrange {
      width: 100%;
      height: 120px;
      // border: 1px solid rgb(0, 0, 0);
      display: flex;
      align-items: flex-end;
      justify-content: center;

      .range {
        width: 80px;
        height: 80px;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 100%;
        overflow: hidden;
        position: relative;

        #acceptImg {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: fill;
        }
      }
    }

    #userName {
      // border: 1px solid gray;
      width: 100%;
      height: 30px;
      text-align: center;
      line-height: 40px;
      color: $dark;
    }

    #membericon {
      width: 100%;
      height: 30px;
      // border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10%;
      position: relative;

      .up_memberpic {
        width: 100%;
        height: 100%;

        .double_mem {
          width: 30%;
          height: 100%;
          // border: 1px solid red;
          position: relative;
          left: 95%;
          top: 15%;
          @include hoverIcon(25px);

          img {
            cursor: pointer;
          }
        }
      }
    }
  }

  .line {
    border: 0.2px solid rgb(226, 224, 224);
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 0 0.5px 0.3px rgb(206, 201, 201);
    margin-bottom: 30px;
  }

  .slide_list {
    display: none;
  }
}

// ========member_內容=============================
.memberContent {
  // border: 1px solid black;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  #memcon1 {
    width: 45%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(228, 228, 228);

    h3 {
      // border: 1px solid red;
      width: 100%;
      height: 10%;
      color: $dark;
      padding: 10px 0 0 20px;
    }

    ul {
      // border: 1px solid black;
      width: 100%;
      height: 90%;
      padding-top: 30px;
    }

    .con1_info {
      text-align: center;
      @include font($level: 0, $lineHeight: 50px);

      .memberbtn {
        width: 150px;
        height: 30px;
        border-radius: 50px;
        @include font($level: 1, $lineHeight: null);
        @include btnReset;
        transition: all 0.5s;
        color: $dark;
        margin-top: 70px;
        background-color: $primary;
        color: $white;
        border-color: #ffffff;
        outline: none;
        cursor: pointer;
        position: relative;
        animation: boxbig 1s;
        transition: all 0.5s;
        animation-delay: 1.5s;

        &::after {
          content: "";
          position: absolute;
          // border: 1px solid red;
          width: 150px;
          height: 30px;
          left: 0.5px;
          top: 1px;
          border-radius: 100px;
          background-color: rgba(138, 206, 222, 0.5);
          z-index: -1;
          animation: boxbig 1s;
          transition: all 0.5s;
        }
        &::before {
          content: "";
          position: absolute;
          // border: 1px solid red;
          width: 150px;
          height: 30px;
          left: 0.5px;
          top: 0.9px;
          border-radius: 100px;
          background-color: rgba(138, 206, 222, 0.5);
          z-index: -1;
          animation: boxbig 1s;
          transition: all 0.5s;
          animation-delay: 0.5s;
       
        }
        &:hover {
          background-color: rgb(243, 202, 211);
          color: $dark;
        }

        &:hover::after {
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-play-state: running;
          animation-fill-mode: both;
          background-color: rgba(245, 214, 220, 0.5);
        }
        &:hover::before {
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-play-state: running;
          animation-fill-mode: both;
          background-color: rgba(245, 224, 224, 0.5);
        }
      }

      @keyframes boxbig {
        form {
          transform: scale(0);
        }

        to {
          transform: scale(1.12);
          height: 40px;
          top: -4.65px;
        }
      }

      li {
        list-style: none;
      }
    }

    .con1_info li p,
    input {
      @include btnReset;
      display: inline-block;
      color: $dark;
    }

    input {
      border-bottom-style: solid;
      border-width: 1px;
      width: 60%;
      border-color: rgb(155, 155, 155);
      @include font($level: 0, $lineHeight: null);
      // background-color: aqua;
    }
  }

  #memcon2 {
    width: 45%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(228, 228, 228);

    h3 {
      width: 100%;
      height: 10%;
      color: $dark;
      padding: 10px 0 0 20px;
      // border: 1px solid red;
    }

    #oder {
      width: 100%;
      height: 90%;
      // border: 1px solid blue;
      text-align: center;
      display: flex;
      justify-content: center;
      padding-top: 40px;

      .table_oder {
        width: 95%;
        // border: 1px solid #000000;
        border-collapse: collapse;
    
      }

      th {
        @include font($level: 0, $lineHeight: null);
        font-weight: 100;
        color: $dark;
        border-bottom: #d8d8d8 solid;
        border-width: 0.5px;
        height: 30px;
        // border: 1px solid red;

        .delete_oder {
          position: relative;
          @include hoverIcon(17px);
          left: 10px;
        }
      }
    }
  }
}

@include media(1024px) {
  .memberitem .personal_photo .slide_list {
    display: block;
  }

  .memberContent {
    display: block;
    position: relative;
    
    &.active {
      #memcon2 {
        transform: scaleX(1);
        opacity: 1;
        visibility: visible;
      }

      #memcon1 {
        transform: scaleX(0);
        opacity: 0;
        visibility: hidden;
      }
    }

    #memcon1,
    #memcon2 {
      width: 90%;
      position: absolute;
      top: 5%;
      left: 5%;
      transition: all 0.3s;
    }

    #memcon1 {
      transform-origin: right;
    }

    #memcon2 {
      transform: scaleX(0);
      opacity: 0;
      visibility: hidden;
      transform-origin: left;
    }
  }
}

@include media(576px) {

  .memberContent {
    #memcon2 {
      width: 99%;
      position: absolute;
      top: 5%;
      left: 0.5%;
      transition: all 0.3s;
    }
    #memcon1{
      width: 99%;
      top: 5%;
      left: 0.5%;
    }
  }
}
@include media(420px){
  .memberContent #memcon2 #oder th {
    &:nth-last-of-type(1) {
      text-align: left;
      padding-left: 10%;
     
    }
    &:nth-last-of-type(2) {
      width: 14%;
   
    }
    &:nth-last-of-type(3) {
      width: 14%;
    
    }
  }
}



.mask {
  width: 100%;
  height: 100vh;
  background-color: rgba(100, 92, 93, 0.3);
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

.mask{
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgb(113, 133, 151); 
}