#program_main {

  font-size: 0;
  background-image: url(../img/program_img/office.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .invite_list {
    border: 1px solid red;

    .program_member {
      display: inline-block;
      width: 80px;
      border-radius: 50%;
      overflow: hidden;
      margin: 5px;
      vertical-align: middle;

      img {
        width: 100%;

      }
    }

    .program_member_more {
      @include font(0);
      display: inline-block;
      width: 40px;
      height: 40px;
      border: 1px solid red;
      border-radius: 50%;
      text-align: center;
      padding-top: 9px;
      vertical-align: middle;
    }

    .invite_btn {
      padding: 5px 15px;
      margin: 5px;

    }

    form {
      // border:1px solid blue;
      display: inline-block;
    }

  }

  .cards_column {
    border: 1px solid blue;
    height: 300px;
    width: 300px;
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    

    .cards_column_head {
      height: 50px;
      width: 100%;
      border: 1px solid red;
      @include font(2, 50px);
      background-color: #68d2de;
      color: #fff;
      letter-spacing: 3.6px;
      text-align: center;
    }


  }






}