#welcome {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    -30deg,
    rgba($primary, 0.7),
    rgba($third, 0.7)
  );
  font-family: "Montserrat", "Noto Sans TC", sans-serif;
  #front, #back{
    display: inline-block;
    text-decoration: none;
    color: $white;
    .button {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      @include font(8);
      z-index: 1;
      transition: transform .3s;
      &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: inherit;
        animation: btn_animate linear infinite 2s;
      }
      &::before {
        z-index: -1;
      }
      &::after {
        z-index: -2;
        animation-delay: 1s;
      }
    }
  }
}
@keyframes btn_animate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}